@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
main>section {
    max-width: 1440px;
    margin: 130px auto 0 auto;
}

.primary-btn {
    background-color: #FF900E;
    color: white;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
}

.container {
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 100px;
}

.display-flex {
    display: flex;
}

.common-bg {
    background-color: rgba(255, 144, 14, 0.1);
}

.dark-01 {
    color: #131313;
}

.dark-02 {
    color: #424242;
}

.dark-03 {
    color: #727272;
}

.light-orange {
    color: #FF900E;
}

/* header styles */
/* nav related styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.brand {
    font-size: 3rem;
    font-weight: 700;
}

/* banner related styles */
.banner img {
    width: 100%;
    margin-bottom: 45px;
}

.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}

/* teams related styles */
.teams {
    align-items: center;
    gap: 73px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    max-width: 530px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

#quick-list {
    font-weight: 500;
}

/* Feature love & enjoy styles */
.feature-love-enjoy {
    gap: 146px;
}

.lovendenjoy {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    max-width: 460px;
    margin-bottom: 24px;
}

.column-card {
    max-width: 580px;
    padding: 30px;
    margin-top: 20px;
    box-shadow: -1px 5px 11px -1px rgba(0, 0, 0, 0.61) inset;
    -webkit-box-shadow: -1px 5px 11px -1px rgba(0, 0, 0, 0.61) inset;
    -moz-box-shadow: -1px 5px 11px -1px rgba(0, 0, 0, 0.61) inset;
}

.column-card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.lovendenjoy-description {
    max-width: 580px;
}

.column-2>img {
    width: 100%;
}

.experience-btn {
    max-width: 340px;
    max-height: 200px;
    background-color: #FF900E;
    color: white;
    padding: 42px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-top: -200px;
    margin-left: -92px;
}

.first-line {
    font-size: 4rem;
    font-weight: 700;
}

.experience {
    font-size: 1.5rem;
    font-weight: 500;
}

/* facts styles */

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 50px;
    margin-top: 100px;
    gap: 25px;
}

.fact-description {
    max-width: 540px;
}

.fact {
    height: 200px;
    width: 200px;
    border: 1px solid #FF900E;
    padding: 36px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;

}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* our sponsor styles */
.sponsor-info {
    max-width: 540px;
    margin: 0 auto;
    justify-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.sponsor-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 150px;
    margin-bottom: 130px;
    filter: grayscale(100%);
}

/* responsive media query */
@media screen and (max-width: 576px) {

    .nav-links,
    .navbar {
        flex-direction: column;
    }

    .brand,
    .banner-title {
        font-size: 1.5rem;
    }

    .primary-btn {
        padding: 5px;
        font-size: 1rem;
        margin-top: 10px;
    }

    .container {
        padding: 10px;
    }

    .teams {
        flex-direction: column;
        gap: 0;
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .sponsor-images {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 90px;
    }

    .fact-container {
        grid-template-columns: 1fr;
        gap: 25px;
        margin: 50px auto;
        justify-items: center;
    }

    .feature-title {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .our-features {
        padding: 30px;
    }

    .feature-love-enjoy {
        flex-direction: column;
    }

    .experience-btn {
        max-width: 340px;
        max-height: 200px;
        background-color: #FF900E;
        color: white;
        padding: 10px;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 8px;
        border: none;
        margin-top: 20px;
        margin-left: 0px;
    }

}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
        gap: 0;
    }

    .feature-title {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .primary-btn {
        margin-top: 0;
    }

    .fact-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin: 50px auto;
        justify-items: center;
    }

    .sponsor-images {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 30px;
    }
    .column-card{
        /* justify-items: center; */
        margin: 30px auto;
    }
    .feature-love-enjoy {
        flex-direction: column;
    }
    .experience-btn {
        max-width: 340px;
        max-height: 200px;
        background-color: #FF900E;
        color: white;
        padding: 10px;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 8px;
        border: none;
        margin-top: 20px;
        margin-left: 0px;
    }
}